<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a style=" color:white ;font-size: 20px" href="#">NEOLAND</a> <br>
        <div id="close-sidebar">
          
          
        </div>
      </div>
              <div>
              <h6 style="color: white; margin-left: 38px; font-size: 13px" >Cristian Mingorance Mule...</h6>
            </div>
      
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input style="        height: 23px;
            " type="text" class="form-control search-menu" placeholder="Ir a...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <h6 style="color: white; margin-top: 10px; font-size: 14px; margin-left: 35px" >Hilos de conversaciones</h6>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
<li style="color:white; margin-left: 25px;margin-top:10px" >Canales</li>
<li style="color:white;margin-left: 30px;margin-top:10px" >bcn-full-stack-boot</li>
<li style="color:white;margin-left: 30px;margin-top:5px">company-chat</li>
<li style="color:white;margin-left: 30px;margin-top:5px">neoland-all</li>
<li style="color:white;margin-left: 30px;margin-top:5px">neoland</li>
<li style="color:white;margin-left: 30px;margin-top:5px">aminomesale</li>
<li style="color:white;margin-left: 30px;margin-top:5px">bibliotecas</li>
<li style="color:white;margin-left: 30px;margin-top:5px">bc_fs_bcn</li>
<li style="color:white;margin-left: 30px;margin-top:5px">bc_ux_bcn</li>
<li style="color:white;margin-left: 30px;margin-top:5px">data_thugs</li>
<li style="color:white;margin-left: 30px;margin-top:5px">bank-project</li>


<li style="color:white; margin-left: 25px;margin-top:10px">Añadir un canal</li>

        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  
  <!-- page-content" -->
</div>
